.main-screen-item-container {
    color: #111418;
    position: relative;
    user-select: none;
    cursor: pointer;
    background-color: white;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.2s;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid black;
    text-decoration: none;
}

.main-screen-item-container.dark {
    background-color: #1E1E1E;
    color: white;
    border-color: white;
}

.main-screen-item-container:hover {
    transform: scale(1.05);
}

.main-screen-item-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(1.7);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
    aspect-ratio: 1 !important;
    border-radius: 10px;
}

.main-screen-item-icon.dark {
    filter: brightness(1);
    color: white;
}

.main-screen-item-text {
    display: flex;
    align-items: center;
}