.payment-dashboard-middle-area-container {
    background-color: var(--secondary-background);
    min-width: 33vw !important;
    max-width: 33vw !important;
    min-height: 90vh !important;
    max-height: 190vh !important;
    box-sizing: border-box;
    position: relative;
    overflow: clip !important;
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--border-color);
}


.payment-dashboard-middle-area-products-scroll {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    max-height: 100%;
    background-color: var(--tertiary-background);
}

.payment-dashboard-middle-area-products-scroll::-webkit-scrollbar {
    width: 0;
}

.payment-dashboard-middle-area-products {
    display: flex;
    flex-wrap: wrap;
    overflow: clip;
}

.payment-dashboard-middle-area-texts {
    user-select: none;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--muted-color);
    width: 100%;
    color: var(--primary-text);
    border-radius: 20px;
    border: 0.2px solid var(--border-color);
    border-top: none;
}

.payment-dashboard-middle-area-amount {
    display: flex;
    justify-content: space-between;
}

.payment-dashboard-middle-area-hr {
    border-color: var(--border-color);
}