.login-page-right-area-container {
    position: relative;
    aspect-ratio: 400 / 483;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 400px;
}

.login-page-right-area-container.dark {
    background-color: #1C1F25;
    border: 2px solid #1A2027;
}

.login-page-right-area-container.light {
    background-color: white;
    border: 2px solid #1A2027;
}

.login-page-right-area-info {
    user-select: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20%;
}

.login-page-right-area-inputs {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-page-right-area-title {
    font-weight: 700;
    font-size: 2em;
}

.login-page-right-area-title.dark {
    color: white;
}

.login-page-right-area-title.light {
    color: #5492F0;
}

.login-page-right-area-subtitle.dark {
    color: #5492F0;
}

.login-page-right-area-subtitle.light {
    color: #E1E2E3;
}