.product-showcase-container {
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.product-showcase-active-area {
    box-sizing: border-box;
    background-color: rgba(248, 250, 251, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 10px;
    border: 1px solid black;
}

.product-showcase-active-area.dark {
    background-color: rgba(19, 25, 34, 0.85);
    border-color: white;
}

.product-showcase-search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-showcase-filter-area {
    width: 100%;
    display: flex;
    flex-basis: auto;
}

.product-showcase-filter-area > * {
    flex-grow: 1;
}

.product-showcase-products-scroll-area {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.product-showcase-products-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-showcase-products-area > * {
    margin: 0.273181%;
}