.refund-dashboard-lower-area-container {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: var(--tertiary-background);
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
    padding: 1%;
    align-items: center;
}

.refund-dashboard-lower-area-container > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1.5vw;
}

.refund-dashboard-upper-area-container {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 70vh;
    background-color: var(--primary-background);
    display: flex;
    flex-direction: row;
}

.refund-dashboard-upper-area-item {
    box-sizing: border-box;
    padding: 1%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.refund-dashboard-upper-area-scroll {
    flex: 1;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid var(--border-color);
}


.refund-amount-color {
    color: var(--accent-color);
}

.refund-amount-dialog {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
}