.refund-dashboard-lower-area-container {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: #F8FAFB;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 1%;
    align-items: center;
}

.refund-dashboard-lower-area-container > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1.5vw;
}

.refund-dashboard-upper-area-container {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 70vh;
    background-color: #F8FAFB;
    display: flex;
    flex-direction: row;
}

.refund-dashboard-upper-area-item {
    box-sizing: border-box;
    padding: 1%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.refund-dashboard-upper-area-scroll {
    flex: 1;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid;
}

.refund-dashboard-dark {
    color: white;
}

.refund-dashboard-light {
    color: black;
}

.refund-dashboard-upper-area-item-dark {
    background-color: #121418;
}

.refund-dashboard-upper-area-item-light {
    background-color: #F8FAFB;
}

.refund-dashboard-upper-area-scroll-dark {
    background-color: #131922;
}

.refund-dashboard-upper-area-scroll-light {
    background-color: white;
}

.refund-dashboard-lower-area-container-dark {
    background-color: #121418;
    color: white;
}

.refund-dashboard-lower-area-container-light {
    background-color: #F8FAFB;
    color: black;
}

.refund-amount-color {
    color: green;
}

.refund-amount-dialog {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
}