.main-container-body {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: clip;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.main-container-header {
    z-index: 9999;
    background-color: var(--muted-color);
    user-select: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.main-container-footer {
    z-index: 9999;
    background-color: var(--muted-color);
    user-select: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: 1px solid var(--border-color);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.main-container-main {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: 1;
    max-width: 100vw;
    max-height: 90vh;
    background-color: var(--primary-background);
}

.status-container {
    display: flex;
    flex-direction: column;
}

.main-container-header.performance {
    transition: none;
}

.main-container-footer.performance {
    transition: none;
}

.main-container-main.performance {
    transition: none;
}