.main-container-body {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: clip;
}

.main-container-header {
    z-index: 9999;
    background-color: #F8FAFB;
    user-select: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.main-container-footer {
    z-index: 9999;
    background-color: #F8FAFB;
    user-select: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: 1px solid;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.main-container-main {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: 1;
    max-width: 100vw;
    max-height: 90vh;
}

.main-container-footer.dark {
    background-color: rgb(28, 31, 37);
}

.status-container {
    display: flex;
    flex-direction: column;
}

.main-container-header.dark {
    background-color: rgb(28, 31, 37);
}

.main-container-body.dark {
    color: white;
    background-color: rgb(17, 20, 24);
}

.main-container-main.dark {
    background-color: #131922;
}

.main-container-header.performance {
    transition: none;
}

.main-container-footer.performance {
    transition: none;
}

.main-container-main.performance {
    transition: none;
}