.main-container {
    --header-footer-height: 5vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.main-container__header,
.main-container__footer {
    z-index: 9999;
    background-color: var(--muted-color);
    user-select: none;
    padding: 0 10px;
    box-sizing: border-box;
    height: var(--header-footer-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container__header {
    border-bottom: 1px solid var(--border-color);
}

.main-container__footer {
    border-top: 1px solid var(--border-color);
}

.main-container__main {
    flex: 1;
    max-width: 100vw;
    max-height: calc(100vh - 2 * var(--header-footer-height));
    background-color: var(--primary-background);
    overflow: hidden;
    box-sizing: border-box;
}

.status-container {
    display: flex;
    flex-direction: column;
}

.performance {
    transition: none !important;
}