.settings-dashboard-container {
    box-sizing: border-box;
    position: fixed;
    width: 800px;
    max-width: 100%;
    height: 480px;
    background-color: #DEDEDF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    box-shadow: 5px 5px 20px black;
    border-radius: 15px;
    z-index: 99999;
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .settings-dashboard-container {
        width: 90%;
        height: auto;
        padding: 10px;
    }
}

.settings-dashboard-container.dark {
    color: white;
    background-color: rgb(30, 30, 30);
    border-color: white;
}

.settings-dashboard-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.settings-divider {
    background-color: black;
    height: 1px;
    border: none;
}

.settings-divider.dark {
    background-color: white;
}

.settings-dashboard-body {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 800px) {
    .settings-dashboard-body {
        flex-direction: column;
        gap: 5px;
    }
}

.settings-dashboard-active-area {
    width: 50%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 800px) {
    .settings-dashboard-active-area {
        width: 100%;
        gap: 5px;
    }
}
