/* Filename: onlineOfflineIndicator.css */
.indicator {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding-left: 10px;
    user-select: none;
}

.indicator.dark {
    filter: brightness(1.8);
    background-color: transparent;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.circle-container {
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
