.login-page-container {
    min-width: 100vw !important;
    max-width: 100vw !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
    position: relative;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    animation: reduceGap 1s ease-in-out forwards;
}

@keyframes reduceGap {
    from {
        gap: 100vw;
    }
    to {
        gap: 0;
    }
}

.login-page-left-area {
}

.login-page-right-area {
}
