.product-entry-panel-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}


.product-entry-panel-container.light {
    background-color: #F8FAFB;
    color: black;
}

.product-entry-panel-container.dark {
    background-color: #131922;
    color: white;
}

.product-entry-panel-left-area {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 50%;
    font-size: 20px;
    border-width: 3px;
}

.checkbox {
    align-self: flex-start;
}

.save-button {
    display: flex;
    width: 90px;
}

.product-entry-panel-right-area {
    flex: 1;
    box-sizing: border-box;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-entry-panel-right-area > * {
    width: 40%;
}

.product-entry-panel-right-area > div {
    display: flex;
    flex-direction: column;
}

.product-entry-panel-left-area.performance {
    justify-content: flex-start;
}

.product-card.performance {
    margin-top: 20px;
    width: 60%;
    font-size: 16px;
}

.product-entry-panel-right-area.performance {
    padding: 2vh;
    gap: 2vh;
}

.product-entry-panel-right-area.performance > * {
    width: 80%;
}
