.product-entry-panel-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #F8FAFB;
}

.product-entry-panel-left-area {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-entry-panel-right-area {
    flex: 1;
    box-sizing: border-box;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-entry-panel-right-area > * {
    width: 40%;
}

.product-entry-panel-right-area > div {
    display: flex;
    flex-direction: column;
}