.left-container {
    background-color: #F8FAFB;
    min-width: 33vw !important;
    max-width: 33vw !important;
    min-height: 90vh !important;
    max-height: 190vh !important;
    box-sizing: border-box;
    position: relative;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.left-one {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E6EAF1;
}

.left-one > * {
    flex-grow: 1;
}

.left-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #E6EAF1;
}

.left-three-scroll {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: clip;
    padding: 10px;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    max-height: 100%;
}

.left-three-scroll::-webkit-scrollbar {
    width: 0;
}

.left-three {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@keyframes customLoadingAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: customLoadingAnimation 2s linear infinite;
}
