.main-screen-container {
    position: relative;
    background-color: var(--primary-background);
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

.main-screen-active-area {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.main-screen-sides {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px
}

.main-screen-lower-left {
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.main-screen-upper-left {
    user-select: none;
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--primary-text);
    background-color: var(--snow-color);
    border: 1px solid var(--border-color);
    padding: 10px;
}

.main-screen-upper-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

.main-screen-lower-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.main-screen-logo {
    position: fixed;
    top: 10px;
    z-index: 0;
    pointer-events: none;
    max-width: 40vw;
    min-width: 400px;
    max-height: 25vh;
}

.main-screen-container.performance-mode {
    padding: 5vw;
}

.main-screen-item-container.performance-mode {
    height: 50px;
    transition: none;
}

.main-screen-item-container.performance-mode:hover {
    transform: none;
    border-color: var(--accent-color);
}

.main-screen-logo.performance-mode {
    max-width: 20vw;
    min-width: 200px;
    max-height: 15vh;
}