.numeric-keyboard-container {
    box-sizing: border-box;
    aspect-ratio: 308 / 312 !important;
    padding: 4%;
    background-color: #FDFDFE;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2%;
}

.numeric-keyboard-container.dark {
    background-color: #121418;
    border-color: white;
}

.numeric-keyboard-container * {
    min-width: 0 !important;
    min-height: 0 !important;
}

.numeric-keyboard-textfield {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.numeric-keyboard-backspace {
    grid-column-end: span 2;
}

.numeric-keyboard-zero {
    grid-column-end: span 2;
}

.numeric-keyboard-submit {
    grid-column: 4;
    grid-row: 3 / span 3;
}

.numeric-keyboard-decimal {
    grid-column-end: span 2;
}