.payment-dashboard-left-area-container {
    background-color: var(--secondary-background);
    min-width: 33vw !important;
    max-width: 33vw !important;
    min-height: 90vh !important;
    max-height: 190vh !important;
    box-sizing: border-box;
    position: relative;
    overflow: hidden !important;
    display: flex;
    gap: 10vh;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.payment-dashboard-left-area-container.performance-mode {
    min-height: 45vh !important;
    max-height: 95vh !important;
    gap: 5vh;
}

.form-dialog {
    width: 100%;
}

.form-dialog.performance-mode {
    transition: none;
    box-shadow: none;
}

.form-dialog.performance-mode:hover {
    transition: none;
    box-shadow: none;
}