.summary-dashboard-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', 'Noto Emoji', serif;
    font-size: 1.4vw;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.summary-dashboard-left {
    border: 1px solid var(--border-color);
    width: 650px;
    height: 100%;
    background-color: var(--secondary-background);
    color: var(--primary-text);
    overflow-y: auto;
}

.summary-dashboard-right {
    position: relative;
    border: 1px solid var(--border-color);
    width: 150px;
    height: 100%;
    background-color: var(--highlight-color);
    color: var(--primary-text);
    overflow-y: auto;
    font-size: medium;
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.summary-dashboard-right > * {
    flex-shrink: 0;
}

.summary-dashboard-tab {
    text-align: center;
}

.summary-dashboard-right-header {
    text-align: center;
    position: fixed;
    z-index: 2;
    background-color: var(--snow-color);
    width: 150px;
}

.summary-dashboard-left-header {
    width: 100%;
    background-color: transparent !important;
    border-bottom: 1px solid var(--border-color);
    display: flex;
}

.summary-dashboard-left-header > * {
    flex-grow: 1;
    min-width: 0 !important;
}

.performance-mode .summary-dashboard-container {
    font-size: 1.2vw;
}

.performance-mode .summary-dashboard-left,
.performance-mode .summary-dashboard-right {
    font-size: small;
    gap: 40px;
}

.performance-mode .summary-dashboard-tab ul {
    max-height: 200px;
    overflow-y: auto;
}