.sales-dashboard-right-area-container {
    background-color: #F8FAFB;
    min-width: 33vw !important;
    max-width: 33vw !important;
    min-height: 90vh !important;
    max-height: 190vh !important;
    box-sizing: border-box;
    position: relative;
    overflow: clip !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    border: 1px solid black;
}

.sales-dashboard-right-area-control {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}

.sales-dashboard-right-area-control * {
    min-height: 0 !important;
}

.sales-dashboard-right-area-control > * {
    max-width: 100px !important;
}

.sales-dashboard-right-area-campaigns {
    border-bottom: 1px solid black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transform-origin: top;
    top: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    gap: 5px;
    background-color: #E8F5FC;
}

@keyframes jell-in-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jell-out-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@media (max-width: 700px) {
    @keyframes jell-in-top {
        0% {
            transform: scale(0);
            display: none;
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes jell-out-top {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
            display: none;
        }
    }
}

.performance-mode .sales-dashboard-right-area-container {
    background-color: #EEE;
    gap: 20px;
}

.performance-mode .sales-dashboard-right-area-control > * {
    max-width: 80px !important;
}

.performance-mode .sales-dashboard-right-area-campaigns {
    gap: 2px;
    animation: none !important;
}

.performance-mode button, .performance-mode .MuiButton-root {
    animation: none !important;
    transition: none !important;
}
