.sales-dashboard-right-area-container{
    background-color: #F8FAFB;
    min-width: 33vw !important;
    max-width: 33vw !important;
    min-height: 90vh !important;
    max-height: 190vh !important;
    box-sizing: border-box;
    top: 5vh;
    position: relative;
    overflow: clip !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    border: 1px solid black;
}
.sales-dashboard-right-area-control{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
}
.sales-dashboard-right-area-keyboard{

}
.sales-dashboard-right-area-campaigns{
    border-bottom: 1px solid black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    gap: 5px;
    background-color: #E8F5FC;
}
@keyframes jell-in-top {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
@keyframes jell-out-top {
    0% {
        top: 0;
    }
    100% {
        top: -50%;
    }
}
