.screen-keyboard-container {
    z-index: 99999;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    min-width: 750px;
    height: 255px;
    background-color: #12161B;
    border: 0.5px solid #1D2229;
    padding-top: 25px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7%, 7.9%));
    gap: 3px;
    border-radius: 12px;
    justify-content: center;
}
.screen-keyboard-close-button {
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-keyboard-double {
    grid-column-start: span 2;
    grid-column-end: -1;
}

.screen-keyboard-triple {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: span 1;
}
.screen-keyboard-empty-space {
    width: 100%!important;
    height: 100%!important;
    background-color: transparent!important;
    border: none!important;
    padding: 0!important;
    margin: 0!important;
}
.screen-keyboard-double-height {
    height: 200px;
}
