:root {
    --primary-background: #F8FAFB;
    --secondary-background: whitesmoke;
    --tertiary-background: white;
    --primary-text: black;
    --secondary-text: #111418;
    --border-color: black;
    --highlight-color: #3498db;
    --accent-color: green;
    --muted-color: #E6EAF1;
    --snow-color: snow;
    --primary-title: #5296D5;
}

.dark-mode {
    --primary-background: #0a0d12;
    --secondary-background: #0d121c;
    --tertiary-background: #1D1F24;
    --primary-text: white;
    --secondary-text: #D57B52;
    --border-color: white;
    --highlight-color: #D57B52;
    --accent-color: greenyellow;
    --muted-color: #121418;
    --snow-color: black;
    --primary-title: white;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/public/fonts/Noto_Emoji/NotoEmoji-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VT323';
    src: url('/public/fonts/VT323/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/public/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/public/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

#root {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: clip;
}

::-webkit-scrollbar {
    width: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    font-family: Rubik, serif !important;
    background-color: var(--primary-background);
}

html.dark {
    background-color: var(--primary-background);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
